appnope
backcall
cycler
decorator
fonttools
ipython
jedi
kiwisolver
matplotlib
matplotlib-inline
numpy
packaging
pandas
parso
pexpect
pickleshare
Pillow
prompt-toolkit
ptyprocess
Pygments
pyparsing
python-dateutil
pytz
setuptools-scm
six
tomli
traitlets
wcwidth
